{{ define "main" }}
	<div class="row flex-xl-nowrap">
		<div class="col-lg-5 col-xl-4 docs-sidebar">
			<nav class="docs-links" aria-label="Main navigation">
				{{ partial "sidebar/docs-menu-blog.html" . }}
			</nav>
		</div>



  <div class="col-md-12 col-lg-10 col-xl-12">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="text-center">{{ .Content }}</div>
  <div class="row flex-xl-wrap">
				{{ range .Data.Pages -}}
					<div class="card">
						<div class="card-body">
              <p> <img src="//www.upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png"> </p>
							<h2 class="h3"><a class="stretched-link text-body" href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
							<p>{{ .Params.lead | safeHTML }}</p>
							{{ partial "main/blog-meta.html" . -}}

						</div>
					</div>
				{{ end -}}
			</div>
    </article>
  </div>
      </div>

  </div>

{{ end }}

