.home .card,
.contributors.list .card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}
.blog.list .card,
.contributors.list .card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0.4%;
  margin-right: 0.4%;
  transition: transform 0.3s;
  width: 30%;
  min-width: 300px;
}

.home .card:hover,
.contributors.list .card:hover,
.blog.list .card:hover {
  transform: scale(1.025);
}

.home .card-body,
.contributors.list .card-body,
.blog.list .card-body {
  padding: 0 2rem 1rem;
}

.blog-header {
  text-align: left;
  margin-bottom: 2rem;
}

.blog-footer {
  text-align: center;
}
